.jags-header {
    background-color: teal;
    border-radius: 2cm;
    border-color: black;
    border-style: solid;
}

.form-styles {
    text-align: center;
    background-color: teal;
    border-radius: .5cm;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-style:bold;
}